<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Login PowerDroid</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link href="elegant-icons-style.css" rel="stylesheet"/>
  <link href="style.css" rel="stylesheet">

  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
</head>

<body>
<!-- container section start -->
<section id="container" class="">


  <header class="header dark-bg">
    <div class="toggle-nav">
      <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
    </div>

    <!--logo start-->
    <a href="index" class="logo">Power <span class="lite">DROID</span></a>
    <!--logo end-->

    <div class="nav search-row" id="top_menu">
      <!--  search form start -->
      <!--  search form end -->
    </div>

    <div class="top-nav notification-row">
      <ul class="nav pull-right top-menu">
      </ul>
      <!-- notificatoin dropdown end-->
    </div>
  </header>
  <!--header end-->

  <!--sidebar start-->
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="index">
            <i class="icon_house_alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon_drawer_alt"></i>Fichiers de test
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="filemanaging">Ajout de fichiers de test</a></li>
            <li><a href="filemanaging-view">Visualiser fichiers de tests</a></li>
          </ul>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        </div>
      </div>
      <!--overview start-->





      </div><!--/.row-->
      <div class="row">
        <div class="col-lg-12">
        <section class="panel">
          <table id ="repostable" class="table table-striped table-advance table-hover">
            <tbody id="listRepos">

            <tr>
              <th><i class="icon_user"></i> Apk testé</th>
              <th><i class="icon_user"></i> Method</th>
              <th><i class="icon_user"></i> Status</th>
              <th><i class="icon_user"></i> Résultats</th>
              <th><i class="icon_hourglass"></i> Date</th>
            </tr>
            <% rows.forEach(function(row) { %>
            <tr>
              <td><%= row.filenameapk %></td>
              <td><%= row.method %></td>
              <% if(row.status) {%><td> Terminé </td><%} else { %><td> En cours </td><% } %>
              <% if(row.status) {%><td><a href="resultat?idResult=<%= row.idresult %>" ><i class="fa fa-envelope"></i></a></td><%} else { %><td></td><% } %>
              <td><%=row.time%> - <%=row.date%></td>
            </tr>
            <% }); %>
            </tbody>
          </table>
        </section>
        </div>
      </div>
      </br>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <a href="index/reset">Reset résultats</a>
        </div>
      </div>


      <!-- Today status end -->




      <!-- statics end -->



      <!-- project team & activity end -->

    </section>
  </section>
  <!--main content end-->
</section>
</body>
</html>
